<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
 <bean id="acc"  class="com.kodewala.Account">
 	<property name="accountNumber" value="123456789"></property>
 	<property name="address" value="BTM LAYOUT"></property>
 	<property name="ifsc" value="BTMN001"></property>
 
 </bean>   

</beans>