<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<bean id="ticket"  class="com.kodewala.TicketBooking">
	<property name="bookingId" value="3456"></property>
	<property name="name" value="Raghu"></property>
	<property name="price" value="246"></property>


</bean>


</beans>